.landingPageDiv {
  right: 1rem;
  width: 90%;
  height: 90%;
  margin: auto;
  position: relative;
  max-width: 20rem;
  max-height: 20rem;
  text-align: center;
  border-radius: 6px;
  background-color: #e9e7d2;
}

.unorderedList {
  font-size: 4em;
  list-style: none;
}

.landingPageImg {
  top: 2rem;
  left: 2rem;
  width: 70%;
  height: 70%;
  position: relative;
}

.listButton {
  width: 70%;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}
