.section {
  position: relative;
  width: 100%;
  height: 90vh;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  background-color: #e9e7d2;
}

.getBackButton {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 0.1rem 0 0 16rem;
  padding: 0.2rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.profileImg {
  width: 18.75rem;
  height: 18.75rem;
  margin: 1rem 0 0 0;
  border-radius: 10rem;
}

.profileSelector {
  width: 84.4%;
  border: 1px solid black;
  margin: 0.5rem auto;
  padding: 0.2rem;
  font-size: 0.9rem;
  font-family: "Times New Roman", Times, serif;
  border-right: none; /* Removendo a borda direita */
  border-radius: 0.5rem 0 0 0.5rem;
}

.profileUserName {
  margin: 10rem 0 0 0.5rem;
}

.profileInput {
  width: 97.4%;
  margin: auto;
}

.profileInfo {
  color: #666;
  font-size: 1em;
  margin-top: 2rem;
  padding-left: 0.3em;
}

.container {
  display: grid;
  grid-template-columns: 94% 6%;
}

.editButton {
  color: #fff;
  width: 97%;
  cursor: pointer;
  border: none;
  margin: 0.5rem auto;
  padding: 0.2rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.editButton:hover {
  background-color: #8a7a0f;
}

.convertButton {
  color: #fff;
  cursor: pointer;
  border: none;
  margin: auto;
  padding: 0.62rem 0.5rem;
  font-size: 0.9em;
  border-radius: 0 1rem 1rem 0;
  background-color: #ab9c15;
  font-weight: bold;
}
.okButton {
  float: right;
  color: #fff;
  width: 10%;
  cursor: pointer;
  border: 1px solid black;
  margin: 0.5rem 0.66rem 0 0;
  padding: 0.34rem 0.1rem 0.4rem 0.1rem;
  font-size: 0.9em;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #ab9c15;
}

/* Estilos responsivos */
/* @media screen and (max-width: 768px) {
  .section {
    max-width: 90vw;
    max-height: none;
  }

  .getBackButton,
  .profileImg,
  .profileUserName,
  .profileInput,
  .profileInfo,
  .editButton {
    width: 100%;
    margin: 0.5rem auto;
    float: none;
  }
} */
