.div {
  width: 90%;
  height: 90%;
  margin: auto;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 6px;
  background-color: #e9e7d2;
}

.getBackButton {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 17rem;
  padding: 0.2rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.profileImg {
  width: 70%;
  margin: 2rem 0 0 3rem;
  border-radius: 10rem;
}

.profileName {
  margin: 0 0 0 0;
  text-align: center;
  padding: 1rem;
}

.balanceInfo {
  font-size: 1em;
  margin-top: 5rem;
  padding-left: 0.3em;
  color: #666;
}

.editButton {
  color: #fff;
  width: 99%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 0;
  padding: 0.2rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.editButton:hover {
  background-color: #ab9c15;
}