.section {
  margin: 0 auto;
  max-width: 20rem;
  text-align: center;
}

.getBackButton {
  width: 20%;
  border: none;
  margin: 0.1rem 0 0 16rem;
  padding: 0.2rem;
  font-size: 0.9em;
}

.profileImg {
  width: 18.75rem;
  height: 18.75rem;
  margin: 1rem 0 0 0;
  border-radius: 10rem;
}

.profileInput {
  width: 84.4%;
  border: 1px solid black;
  margin: 0.5rem auto;
  padding: 0.2rem;
  font-size: 0.9rem;
  font-family: "Times New Roman", Times, serif;
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

.profileUserName {
  margin: 10rem 0 0 0.5rem;
}

.input {
  width: 97%;
  margin: auto;
}

.convertButton {
  padding: 0.7rem;
  font-size: 0.86em;
  border-radius: 0 0.9rem 0.9rem 0;
}

.disabled {
  padding: 0.7rem;
  font-size: 0.86em;
  border-radius: 0 0.9rem 0.9rem 0;
  background-color: rgb(134, 125, 43);
}

.inputError {
  width: 96%;
  margin: auto;
  border: 0.15rem solid #aa0b20;
  background-color: #ffeff1;
}

.errorMessage {
  margin: 0.2rem 0 0 0.2rem;
  color: #ca3e51;
}

.disabledBtn{
  width: 97%;
  border: none;
  margin: 0.5rem auto;
  padding: 0.2rem;
  font-size: 0.9em;
  background-color: rgb(134, 125, 43);
}

.div {
  display: grid;
  grid-template-columns: 94% 6%;
}

.editBtn {
  width: 97%;
  margin: 0.5rem auto;
  padding: 0.2rem;
  font-size: 0.9em;
}

.confirmBtn {
  float: right;
  color: #fff;
  width: 10%;
  cursor: pointer;
  border: 1px solid black;
  margin: 0.5rem 0.66rem 0 0;
  padding: 0.34rem 0.1rem 0.4rem 0.1rem;
  font-size: 0.9em;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #ab9c15;
}
