form {
  margin: auto;
  max-width: 20rem;
}

.container {
  text-align: center;
}

.loginBtn {
  width: 20%;
  margin: 0.2rem 0 0 15.3rem;
  padding: 0.2rem;
  font-size: 0.9em;
}

.image {
  width: 98%;
  border-radius: 0.5rem;
  margin: 0.8rem 0 0rem 0;
}

h2 {
  margin: 0 0 0 0.5rem;
}

.inputError {
  border: 1px solid #aa0b20;
  background-color: #eccbcf;
}

.errorMessage {
  margin: auto;
  color: #ca3e51;
}

.registerBtn {
  width: 96%;
  border: none;
  padding: 0.4em;
  font-size: 1em;
  margin-top: 0.3rem;
  border-radius: 5px;
}
