.goalsDiv {
    margin: auto;
    max-width: 20rem;
  }

.getBackButton {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 15.2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.h3 {
  margin: 0 0 0 0.1rem
}

.input {
  margin: 0 0 1rem 0;
}

.goal {
  margin: 0 0 1rem 0;

}

.warning {
  margin: auto;
  color: #ce2121;
  font-weight: bold;
  text-align: center;
}

.inputButton {
  color: #fff;
  width: 50%;
  cursor: pointer;
  border: none;
  margin: 0 0 0 5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}
