.item {
  width: 91%;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.itemContainer {
  color: #141115;
  display: grid;
  align-items: center;
  grid-template-columns: 42% 60%;
}

.itemDelete {
  margin: 0 0 0 17rem;
  border: none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border-radius: 8px 8px 8px 8px;
  background-color: #f2f2f2;
}

.itemDelete:hover {
  color: red;
  background-color: #f2f2f2;
}

.itemPercentage {
  width: 100%;
  color: rgb(0, 0, 0);
  right: 0.5rem;
  height: 20px;
  display: flex;
  margin: 0 0 0.3rem 0.3rem;
  padding: 0.3rem;
  position: relative;
  min-width: 10%;
  align-items: center;
  border-radius: 2rem;
  justify-content: flex-end;
}

.itemPercentage::before {
  height: 100%;
  content: "";
  transition: width 0.3s ease-in-out;
  border-radius: 2rem;
}

.itemText {
  text-align: center;
  overflow-wrap: break-word;
}

.itemValue {
  text-align: center;
}

.itemParagraph {
  color: #967a7a;
  text-align: center;
}

.goalDelete {
  border: none;
  margin: 0 0 0 17rem;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border-radius: 8px 8px 8px 8px;
  background-color: #f2f2f2;
}

.goalDelete:hover {
  color: red;
  background-color: #f2f2f2;
}

.goalItem {
  margin: 1rem 0 0 0;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f2f2f2;
}

.goalContainer {
  color: rgb(27, 165, 27);
  display: grid;
  align-items: center;
  grid-template-columns: 42% 60%;
}

.goalText {
  color: rgb(31, 189, 31);
  text-align: center;
}

.goalValue {
  color: rgb(31, 189, 31);
  text-align: center;
}

.goalParagraph {
  color: rgb(33, 201, 33);
  text-align: center;
}

.goalPercentage {
  padding: 0.3rem;
  text-align: end;
  border-radius: 1rem;
  background-color: rgb(0, 255, 0);
}

.congrats {
  text-align: center;
}
