section {
  margin: auto;
  max-width: 25rem;
  text-align: center;
}

.getBackButton {
  width: 20%;
  margin: 1rem 0 0 17.8rem;
  padding: 0.2rem;
}

h3 {
  text-align: start;
  margin: 0 0 0 1.5rem;
}

input {
  max-width: 85%;
  margin: 0 0 1rem 0;
}

.inputError {
  width: 92%;
  border: 1px solid #aa0b20;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eccbcf;
}

.warning {
  color: #ce2121;
  margin: -0.5rem 0 0 0;
  text-align: center;
  font-weight: bold;
}

.inputButton {
  color: #fff;
  width: 50%;
  cursor: pointer;
  border: none;
  margin: 0 0 0 5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}
