.item {
  margin: 1rem 0 0 0;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f2f2f2;
  overflow-wrap: break-word;
}

.itemContainer {
  color: #141115;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
}

.itemValue {
  color: #141115;
  text-align: center;
}

.itemParagraph {
  color: #967a7a;
  text-align: center;
}

.goalAchievedItem {
  margin: 1rem 0 0 0;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f2f2f2;
}

.goalAchievedContainer {
  color: rgb(27, 165, 27);
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
}

.goalAchievedValue {
  text-align: center;
  color: rgb(31, 189, 31);
}

.goalAchievedParagraph {
  text-align: center;
  color: rgb(33, 201, 33);
}
