.section {
  margin: auto;
  max-width: 20rem;
}

.getBack {
  width: 20%;
  margin: 1rem 0 0 15.5rem;
  padding: 0.2rem;
}

.inputDate {
  width: 92%;
  margin: auto;
  font-size: 0.9em;
}

.searchBtn {
  width: 95%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0 0.7rem 0.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.allReleases {
  margin: 0 0 0.4rem 4.7rem;
}

.releasesHistory {
  margin: auto 3.5rem;
  color: #888;
}

.filteredReleases {
  margin: 0 0 0.4rem 1.2rem;
}

.message {
  color: #888;
  width: 100%;
  margin: 0 0 0 0.7rem;
}

@media (min-width: 320px) and (max-width: 340px) {
  .getBack {
    width: 20%;
    margin: 1rem 0 0 14.7rem;
    padding: 0.2rem;
  }

  .allReleases {
    margin: 0 0 0.4rem 4.4rem;
  }

  .releasesHistory {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #888;
  }

  .filteredReleases {
    margin: 0 0 0.3rem 0rem;
    text-align: center;
  }

  .message {
    color: #888;
    text-align: center;
    width: 100%;
    margin: 0 0 0 0rem;
  }
}


@media (min-width: 300px) and (max-width: 320px) {
  .getBack {
    width: 20%;
    margin: 1rem 0 0 14rem;
    padding: 0.2rem;
  }

  .allReleases {
    margin: 0 0 0.4rem 4.5rem;
  }

  .releasesHistory {
    width: 100%;
    text-align: center;
    margin: auto 0.5rem;
    color: #888;
  }

  .filteredReleases {
    margin: 0 0 0.3rem 0rem;
    text-align: center;
  }

  .message {
    color: #888;
    text-align: center;
    width: 100%;
    margin: 0 0 0 0rem;
  }
}

@media (min-width: 280px) and (max-width: 300px) {
  .getBack {
    width: 20%;
    margin: 1rem 0 0 13rem;
    padding: 0.2rem;
  }

  .allReleases {
    margin: 0 0 0.4rem 4rem;
  }

  .releasesHistory {
    width: 100%;
    text-align: center;
    margin: auto 0.5rem;
    color: #888;
  }

  .filteredReleases {
    margin: 0 0 0.3rem 0rem;
    text-align: center;
  }

  .message {
    color: #888;
    text-align: center;
    width: 100%;
    margin: 0 0 0 0rem;
  }
}
