.container {
  display: flex;
  margin-bottom: 0.5rem;
}

.section {
  height: 6rem;
  display: grid;
  padding: 0.5rem;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 8px 8px 0;
  background-color: #f2f2f2;
  grid-template-columns: 1fr 1fr 2fr;
}

.delete {
  color: rgb(122, 0, 0);
  width: 9%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border-radius: 8px 0 0 8px;
  background-color: #f2f2f2;
}

.delete:hover {
  color: red;
  background-color: #f2f2f2;
}

.img {
  width: 50%;
  margin: 1.1rem 0 0 0;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.texts {
  color: rgb(33, 201, 33);
  margin: auto;
  font-weight: bold;
}

.paragraph {
  margin: 0.1rem 0rem 0.4rem 0rem;
}

.values {
  width: 100%;
  color: rgb(33, 201, 33);
  margin: auto;
  display: grid;
  font-weight: bold;
  justify-items: end;
}
