.success {
  top: 0;
  left: 0;
  color: #155724;
  width: 100.5%;
  height: 1.5rem;
  position: absolute;
  animation: slideInOut 4s forwards;
  text-align: center;
  visibility: hidden;
  padding-top: 0.5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: #c3e6cb;
  background-color: #d4edda;
}

@keyframes slideInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: visible; /* Torna a div visível no início e final da animação */
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Atraso de 2 segundos antes de começar o processo inverso */
.success.delayed {
  animation-delay: 2s;
}

.section {
  margin: auto;
  max-width: 20rem;
}

.getBack {
  width: 20%;
  margin: 1.3rem 0 0 15rem;
  padding: 0.2rem;
}

.alternativeBtnsDiv {
  margin: 1.2rem 0 0 1rem;
  text-align: center;
}

.incomeBtn {
  width: 25%;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0 3% 35% 0;
}

.incomeBtn:hover {
  background-color: #ab9c15;
}

.expenseBtn {
  width: 25%;
  color: #a8a8a8;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 35% 0 0 3%;
  background-color: #756b0e;
}

.inputDate {
  width: 92%;
  margin: auto;
  font-size: 0.9em;
}

.paragraph {
  color: #888;
  margin: 0.1rem 0 0.2rem 0;
  text-align: center;
}

.inputExpense {
  width: 92%;
  font-size: 0.9em;
}

.inputError {
  width: 92%;
  border: 1px solid #aa0b20;
  font-size: 0.9em;
  background-color: #eccbcf;
}

.warning {
  color: #ce2121;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.categories {
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list {
  width: calc(35% - 0.5rem);
  margin: auto;
  text-align: center;
}
.selected {
  color: #fff;
  background-color: #ccc7c7;
}

.icon {
  width: 50%;
  margin: 1.5rem auto -0.2rem auto;
}

.text {
  margin: auto;
  font-size: medium;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  margin: 0.5rem 0 0 2.7rem;
}

@media (min-width: 280px) and (max-width: 300px) {
  .getBack {
    width: 20%;
    margin: 1.3rem 0 0 13rem;
    padding: 0.2rem;
  }
}