.section {
  margin: auto;
  max-width: 20rem;
}

.getBack {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 16rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.alternativeBtnsDiv {
  margin: 1.2rem 0 0 1rem;
  text-align: center;
}

.expenseBtn {
  color: #a8a8a8;
  width: 25%;
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 35% 0 0 3%;
  background-color: #756b0e;
}

.incomeBtn {
  color: #fff;
  width: 25%;
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0 3% 35% 0;
  background-color: #ab9c15;
}

.date {
  margin: 1rem 0 0.2rem 
}

.inputDate {
  margin: auto;
  font-size: 1.1em;
}

.paragraph {
  color: #888;
  width: 98%;
  margin: auto;
}

.inputIncome {
  margin: auto;
  font-size: 0.9em;
}

.warning {
  color: #ce2121;
  margin: 0 0 0 0.2rem;
  font-weight: bold;
}

.categories {
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.list {
  width: calc(35% - 0.5rem);
  padding: auto;
  text-align: center;
}

.selected {
  color: #fff;
  background-color: #ccc7c7;
}

.icon {
  width: 40%;
  margin: 1rem 0 0 0;
}

.text {
  margin: auto;
  margin: 0 0 0.5rem 0.3rem;
}

.btn {
  color: #fff;
  width: 70%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 3.5rem;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}
