.section {
  margin: auto;
  max-width: 20rem;
}

.getBack {
  width: 20%;
  margin: 1rem 0 0 15.5rem;
  padding: 0.2rem;
}

.inputDate {
  width: 92%;
  margin: auto;
  font-size: 0.9em;
}

.searchBtn {
  width: 95%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0 0.7rem 0.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.allReleases {
  margin: 0 0 0.4rem 4.7rem;
}

.releasesHistory {
  margin: auto;
  color: #888;
}

.filteredReleases {
  margin: 0 0 0.4rem 1.5rem;
}

.message {
  color: #888;
  width: 110%;
  margin: 0 0 0 -0.5rem;
}