.success {
  top: 0;
  left: 0;
  color: #155724;
  width: 100.5%;
  height: 1.5rem; /* Ajuste a altura conforme necessário */
  position: absolute;
  animation: slideInOut 4s forwards; /* 6s para uma animação de 6 segundos (3s para aparecer + 3s para desaparecer) */
  text-align: center;
  visibility: hidden; /* Inicialmente oculta */
  padding-top: 0.5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: #c3e6cb;
  background-color: #d4edda;
}

/* Definindo a animação "slideInOut" */
@keyframes slideInOut {
  0%,
  100% {
    opacity: 0; /* Opacidade 0 no início e final da animação */
    transform: translateY(-100%);
    visibility: visible; /* Torna a div visível no início e final da animação */
  }
  50% {
    opacity: 1; /* Opacidade 1 no meio da animação (aparecendo) */
    transform: translateY(0);
  }
}

/* Atraso de 3 segundos antes de começar o processo inverso */
.success.delayed {
  animation-delay: 2s;
}

.section {
  margin: auto;
  max-width: 20rem;
}

.getBack {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 1.3rem 0 0 15rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.alternativeBtnsDiv {
  margin: 1.2rem 0 0 1rem;
  text-align: center;
}

.expenseBtn {
  color: #fff;
  width: 25%;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 35% 0 0 3%;
  background-color: #ab9c15;
}

.expenseBtn:hover {
  background-color: #ab9c15;
}

.incomeBtn {
  color: #a8a8a8;
  width: 25%;
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0 3% 35% 0;
  background-color: #756b0e;
}

.date {
  margin: 1rem 0 0.2rem;
}

.inputDate {
  width: 94%;
  font-size: 1.1em;
  margin: auto;
}

.paragraph {
  color: #888;
  width: 98%;
  margin: 0 0 0 1rem;
}

.expense {
  margin: 1rem 0 0.2rem;
}

.inputExpense {
  margin: auto;
  font-size: 0.9em;
}

.warning {
  margin: 0 0 0 0;
  color: #ce2121;
  font-weight: bold;
  text-align: center;
}

.category {
  margin: 0.8rem 0 0rem 0rem;
}

.categories {
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.list {
  width: calc(30% - 0.5rem);
  margin: auto;
  text-align: center;
}
.selected {
  display: flex; /* Adiciona flexbox */
  align-items: center; /* Alinha verticalmente o conteúdo */
  color: #fff;
  text-align: center;
  background-color: #ccc7c7;
}

.icon {
  width: 50%;
  margin: 1rem auto -0.2rem auto; /* Centraliza verticalmente e centraliza horizontalmente com "auto" */
}

.text {
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  color: #fff;
  width: 70%;
  cursor: pointer;
  border: none;
  margin: 0.5rem 0 0 3rem;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}
