.historyDiv {
  margin: auto;
  max-width: 20rem;
}

.getBackButton {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 16.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.inputDate {
  width: 100%;
  margin: auto;
  font-size: 1.1em;
}

.message {
  color: #888;
  font-style: bold;
  margin-top: 20px;
}

.input3{
margin: auto;
}