.financesDiv {
  margin: auto;
  max-width: 20rem;
}

.buttonDiv {
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 16rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}

.inputDate {
  width: 100%;
  margin: auto;
  font-size: 1.1em;
}


.alternativeDiv {
  margin: 1.2rem 0 0 1rem;
  text-align: center;
}

.expenseBtn {
  color: #fff;
  width: 25%;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 35% 0 0 3%;
  background-color: #ab9c15;
}

.expenseReverseColorBtn {
  color: #a8a8a8;
  width: 25%;
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 35% 0 0 3%;
  background-color: #756b0e;
}

.expenseBtn:hover {
  background-color: #ab9c15;
}

.incomeBtn {
  color: #a8a8a8;
  width: 25%;
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0 3% 35% 0;
  background-color: #756b0e;
}

.incomeReverseColorBtn {
  color: #fff;
  width: 25%;
  cursor: pointer;
  border: none;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0 3% 35% 0;
  background-color: #ab9c15;
}

.incomeReverseColorBtn:hover {
  background-color: #ab9c15;
}

.data {
  display: flex;
  flex-wrap: wrap;
}

.inputExpense {
  width: 96%;
  margin: auto;
  font-size: 0.9em;
}

.unorderedList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.selected {
  background-color: #ccc7c7;
  color: #fff;
}

.list {
  width: calc(30% - 0.5rem);
  padding: auto;
  text-align: center;
}

.icon {
  width: 40%;
  margin: 1rem 0 0 0;
}

.paragraph {
  margin: auto;
  margin: 0 0 1rem 0;

}

.lastButtons {
  color: #fff;
  width: 70%;
  cursor: pointer;
  border: none;
  margin: 1rem 0 0 3.5rem;
  padding: 0.3rem;
  font-size: 0.9em;
  border-radius: 0.5rem;
  background-color: #ab9c15;
}
