.item {
  width: 100%;
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.item p {
  margin: 0;
  font-weight: bold;
  color: red;
}

.item ul {
  margin: 0;
  padding: 0;
  color: #ce0b0b;
  list-style: none;
}


